<!-- Modal -->
<div class="modal fade" id="addActivity" tabindex="-1" role="dialog" aria-labelledby="addActivity" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{actionTitle}} actividad</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12" *ngIf="dataForm">
                  <form [formGroup]="dataForm" *ngIf="visible">
                        <div class="form-group">
                            <label for="name" class="col-form-label-sm">Nombre</label>
                            <input type="text" class="form-control form-control-sm" id="name" name="name" formControlName="name">
                        </div>
                        <div class="form-group">
                          <label for="description" class="col-form-label-sm">Descripción</label>
                          <textarea class="form-control form-control-sm" id="description" name="description" formControlName="description" rows="3"></textarea>
                      </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btn-sm" (click)="saveInfoActivity()" [disabled]="saving">{{actionTitle}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
