
nav{
    position: fixed !important;
    width: 100% !important;
    z-index: 3;
}

.bg-green{
    background-color: #00BCD4;
}
.navbar-brand{
    font-family: 'Satisfy';
    font-size: 1.5em;
}
.nav-item{
    color: white !important;
}

.nav-icon{
    padding: 10px 10px 10px;
}

@media (min-width: 768px) {
    #navbarNav {
        display: none !important;
    }
}