.wrapper {
    padding-top: 62px;
    display: flex;
    width: 100%;
    align-items: stretch;
}

#content{
    width: 100%;
}

@media (min-width: 768px) {
    #content {
        padding-left: 100px;
    }
}